.page{
	width: 900px;
	margin-right: 150px;
	margin-left: 150px;
	background: #ffffff;
}
#info{
	background: #F0FFFF;
	width: 430px;
	height : auto;
}
#button{
	margin-left: 400px;
	background: #F0FFFF;
	color: #000000;
}
#nav{
	background: #d32f2f ;
}
img{
	float: left;
	width: 25px;
	margin-right: 10px;
}
a:hover{
	color: #8b0000;
}
#tel{
	float: left;
	width: 25px;
	margin : 16px 10px 10px 10px;
}
#submit{
	margin-left: 700px;
	margin-bottom: 10px;
}
a:hover{
	color: #90caf9;
}