.page{
	width: 920px;
	margin-right: 150px;
	margin-left: 150px;

*/ background: #90caf9;
}
.content {
	width: 920px;
	margin-right: 150px;
	margin-left: 150px
}
#nav{
	background: #d32f2f ;
}
#tel{
	float: left;
	width: 25px;
	margin : 16px 10px 10px 10px;
}
a:hover{
	color: #90caf9;
}

table {
 border-collapse: collapse;
 width: 90%;
 color: #588c7e;
 font-family: monospace;
 font-size: 25px;
 text-align: left;
	 }
th {
 background-color: #588c7e;
 color: white;
	}
tr:nth-child(even) {background-color: #f2f2f2}
