.page{
	width: 900px;
	margin-right: 150px;
	margin-left: 150px;
}
#info{
	background: #F0FFFF;
	width: 430px;
	height : auto;
}
#button{
	margin-left: 400px;
	background: #F0FFFF;
	color: #000000;
}
nav{
	width: 900px;
	height: auto;
	background: #000000;
}
nav ul{
	list-style-type: none;
	padding: 0px 20px 0px 20px;
	margin :5px 0px 15px 0px;
	overflow: hidden;
	border : solid #000000;
}
nav li{
	padding: 0px 20px 0px 20px;
	float: left;
	margin:10px;
	color: #ffffff;
}
nav li a {
	margin-right: 15px;
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
}
img{
	float: left;
	width: 25px;
	margin-right: 10px;
}
a:hover{
	color: #8b0000;
}